<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gifs</title>
</head>
<body>
<div class="gifs container" th:fragment="gifs">
    <div class="row">
        <div class="col s12 l4" th:each="gif : ${gifs}">
            <div class="row col s12">
                <a th:href="@{'/gif/' + ${gif.name}}">
                    <img alt="gif" th:src="@{'/gifs/' + ${gif.name} + '.gif'}"/>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>